header{
    color: #fff;
    background-color: #15DC96;
    height: 45px;
    padding-left: 20px;
}

header .headerbrand{
    border-color: #15DC96;
    font-size: 1em;
    height: 100%;
}

header .headerbrand:hover{
    border-color: #15DC96;
    background-color: #10b578;
    border-radius: 0;
}

header .headerbutton{
    border-color: #15DC96;
    border-radius: 0;
    text-transform: none;
    font-size: .9em;
    font-weight: normal;
}

header .headerbutton:hover{
    background-color: #10b578;
}

.swallow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-content: center;
    margin: 10%;
    margin-top: 30px;
}

.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;;
}

.navbutton{
    font-size: 40px;
    line-height: 80%;
}

.navcounter{
    position: relative;
    top: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

.schedule {
    -webkit-box-flex: 100;
        -ms-flex: 100 0 40em;
            flex: 100 0 40em;
}

table{
    border-collapse: collapse;
    width: 100%;
}

thead{
    line-height: 10px;
}

th{
    border: solid;
    border-width: 2px;
    border-color: #aaa;
    background-color: #f5f5f5;
}
td{
    position: relative;
    min-width: 8em;
    border: 2px solid;
    border-color: #aaa;
    height: 25em;
    padding: 1px;
}

/* First th had no padding somehow, actually it had but... whatever */
th:nth-child(1){
    padding-left: 10px;
}


.eatd{position: relative; height: 100%; cursor: pointer;}
.block {
	position: absolute;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	font-weight:500;
	cursor: pointer;
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 14px;
}

#start_time{
    position: absolute;
    top: 0%;
    left: 5px;
}

#end_time{
    position: absolute;
    top: 93%;
    left: 5px;
}

.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    justify-content: center;
}

.form .short{
    width: 40px;
    margin: 5px;
    position: relative;
    bottom: 10px;
    height: 20px;
}

.dontfilldiv{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.dontfillbutton{
    text-transform: none;
    width: 7em;
    padding: 2px;
    font-size: 14px;
    position: relative;
    bottom: 5px;
    height: 30px;
    line-height: 1em;
}

.flashlight{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.flashlight > * {
    margin: 2px;
    height: 3em;
    line-height: 1em;
}

.stuff{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
    margin-top: 45px;
    width: 350px;
}

@media (max-width: 1264px) {
    .stuff{
        margin-top: 20px;
    }
}

.isflexaround{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

.fullwidth{
    width: 100%;
}

.stuffbutton{
    color: #fff !important;
    background-color: #5F4C62;
}

.stuffbutton:hover{
    color: #333 !important;
}

.

.addcoursebutton{
    height: 29px;
    line-height: 1em;
}

.courses{
    border: solid 1px #5F4C62;
    border-radius: 4px;
    background-color: #eee;
    margin-top: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: sans-serif;
}

.close {
    float: right;
    height: 2em;
    width: 2em;
    padding: 0;
    line-height: 1em;
}

.toggle{
    width: 6em;
    height: 2em;
    line-height: 1em;
    padding: 0;
    position: relative;
    bottom: 5px;
}

/* COPY PASTE FROM LIBDUCK. PROPABLY RELATED WITH SOME THINGS*/

.title {
	position: relative;
	text-align: center;
	cursor: pointer;
	padding: 0.8em;
}

.ccode {
    font-size: 0.8em;
    color: #888;
    position: absolute;
    left: 0.2em;
    top: 0.2em;}

.more {
	max-height: 0;
	padding-left: 0.8em;
	padding-right: 0.8em;
	overflow: hidden;
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.show { max-height: 30em; }
.more > * {
	margin-top: 0.4em;
}
.boxes > .box {
	margin: 0em 0.5em 0.5em 0em;
	display: inline-block;
}

.boxes{
    display: flex;
    flex-wrap: wrap;

}

.opts {
	width: 100%;
	display: block;
	margin-bottom: 1em;
}
