html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: sans-serif;
	font-size: 10pt;
}

button {
	background-color: #eee;
	border: 1px solid #ddd;
	height: 1.6em;
}

.header {
	background-color: #eee;
	top: 0px;
	padding: 0.8em;
	font-size: 12pt;
}

.header a {
	padding: 0.8em;
	height: 100%;
	color: #222;
	cursor: pointer;
	text-decoration: underline;
}

.header a:hover {background-color: #ddd;}

/* swallows everything */
.swallow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 2em 1em;
	padding: 4%;
}

.swallow > * {
	margin: 0% 1% 0% 1%;
}

.schedule {
	-webkit-box-flex: 100;
	    -ms-flex: 100 0 40em;
	        flex: 100 0 40em;
}

.nav {
	position: relative;
	margin-bottom: 1%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.overlay {
	position: absolute;
	display: none;
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: 3;
	border: 1px solid black;
}
.overchild{margin: 2%;}

#state{
	position: absolute;
	left: 0;
	margin-top: 0.5%;
}
#prev, #next, #counter {
	margin: 0 1% 0 1%;
}

table {
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}

/* eatd is there for block alignment */
td{min-width: 8em; border: 1px solid black; height: 25em;}
.eatd{position: relative; height: 100%; cursor: pointer;}
.block {
	position: absolute;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	cursor: pointer;
}
#start_time{position: absolute; top: 5px; left: 5px;}
#end_time{position: absolute; bottom:5px; left: 5px;}

.form {
	margin: 2%;
	text-align: center;
}
.flashlight{margin: 0.5em;}
#fdate {
	font-size: 0.8em;
	color: #777;
}

/* row holds the options and course list */
.row {
	-ms-flex-preferred-size: 35%;
	    flex-basis: 35%;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.short {
	width: 2.5em;
}

.options > * {
	margin: 1em 0 0 0;
}

button#add-musts {
	width: 100%;
	height: 2.5em;
}

button#make {
	width: 100%;
	height: 2.5em;
	margin-top: 0.5em;
	background-color: #ffd;
}

.courses {
	background-color: #eee;
	margin-top: 0.5em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.title {
	position: relative;
	text-align: center;
	cursor: pointer;
	padding: 0.8em;
}
.close { float: right; }
.ccode { font-size: 0.8em; color: #888; position: absolute; left: 0.2em; top: 0.2em;}

.more {
	max-height: 0;
	padding-left: 0.8em;
	padding-right: 0.8em;
	overflow: hidden;
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.show { max-height: 30em; }
.more > * {
	margin-top: 0.4em;
}
.boxes > * {
	margin: 0em 1em 0.5em 0em;
	display: inline-block;
}
.opts {
	width: 100%;
	display: block;
	margin-bottom: 1em;
}

.courses.idiot {
	background-color: #e44424 !important;
	color: #fff !important;
}

.ccode.idiot {
	color: #fff !important;
}

.block.idiot {
	width: 90%;
	font-weight: bold;
	font-size: 0.875rem;
	margin-left: 2px;
	padding: 2px 5px;
	border-radius: 5px;
	color: #ffffff;
}

button.idiot {
	background-color: #008CBA !important;
	border-color: #007095 !important;
	color: #FFFFFF !important;
}

html.idiot,
body.idiot {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
	font-weight: normal !important;
	font-style: normal !important;
}

.header.idiot {
	color: white !important;
	background-color: #E44424 !important;
}

.header.idiot a {
	color: white !important;
	text-decoration: none !important;
	padding: 0.9em;
	margin-left: -5px;
}

.header.idiot a#index {
	background-color: transparent !important;
	color: white !important;
	text-decoration: none !important;
	padding: 0.9em;
	margin-left: -5px;
}

.header.idiot a#save,
.header.idiot a#about-link,
.header.idiot a#wrong-link,
.header.idiot a#idiot-link {
	border-left: 1px solid #000000;
	color: white !important;
	text-decoration: none !important;
	padding: 0.9em;
	margin-left: -5px;
}

.header.idiot a#save,
.header.idiot a#about-link,
.header.idiot a#wrong-link {
	background-color: #008CBA !important;
	color: white !important;
	text-decoration: none !important;
	padding: 0.9em;
	margin-left: -5px;
}

.header.idiot  a#idiot-link {
	background-color: #333333 !important;
	color: white !important;
	text-decoration: none !important;
	padding: 0.9em;
	margin-left: -5px;
}

.header.idiot a:hover#index {
	background-color: #E44424 !important;
}

.header.idiot a:hover#save,
.header.idiot a:hover#about-link,
.header.idiot a:hover#wrong-link {
	background-color: #0078a0 !important;
}

.header.idiot a:hover#idiot-link {
	background-color: #222222 !important;
}

@media(max-width: 768px){
    #idiot-link {
		display: none;
	}
}
